.header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    /* 스크롤 위치에 따라서 어디에 고정 될것인지 */
    position: sticky; 
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    /* 이미지의 크기를 맞춰주기 위해서 */
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_search{
    display: flex;
    /* 차지하는 비율 */
    flex: 1;
    align-items: center;
    border-radius: 20px;
}
.header_searchIcon{
    background-color: #cd9042;
    padding: 5px;
    height: 15px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
    margin-top: 3px;
}
.header_optionBasket{
    display: flex;
    text-align: center;
    color: white;
    margin-top: 5px;
}
.header_optionlineTwoheader_basketCount{
    margin-right: 10px;
    margin-left: 10px;
}
.homelogin{
    text-decoration: none;
    color: white;
}